ACCESS_SECRET=
EMAIL_SECRET=
REGION=
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
USE_DEFAULT_DATABASE=true
WHITE_LIST_DOMAIN='http://localhost:3000'
DEFAULT_TENANT_CONNECTION=6303476da81738d76f59a862
FRONT_END_REGISTER_DOMAIN=
FORGET_SECRET=
